body
{
	background: white;
	color: #404040;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

a, a:visited
{
	border-bottom: 1px dotted #03c;
	background: inherit;
	color: #03c;
	text-decoration: none;
}

#screenshots
{
	margin: 0;
	padding: 0;
}
#screenshots li
{
	display: inline;
	list-style: none;
}
#screenshots a
{
	border-bottom: none;
}
#screenshots img
{
	border: 0;
}
